In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('cenario2_8M2020_tweets_pt.csv',
                  usecols=['tweet_id', 'tweet_text', 'clean_text'])

In [3]:
df1.shape

(40324, 3)

In [4]:
df1.head(3)

,tweet_id,tweet_text,clean_text
0,1236411302895124487,"Sol com cara O projeto Inclusive, Praia! está ...",sol cara projeto inclusive praia volta proximo...
1,1236411378879037442,Hoje é dia de transmissão especial na Fla TV!!...,hoje dia transmissao especial fla amanha dia i...
2,1236411364643659776,"A presidenta nacional do PT, deputada @gleisi ...",presidenta nacional deputada faz chamamento mu...

In [5]:
df2 = pd.read_csv('sentiment_analysis_pt.csv', usecols=['text', 'result'])

In [6]:
df2.shape

(40328, 2)

In [7]:
df2.head(3)

                                                text result
0  sol cara projeto inclusive praia volta proximo...      0
1  hoje dia transmissao especial fla amanha dia i...      0
2  presidenta nacional deputada faz chamamento mu...      0

In [8]:
pdf1 = df1.copy()

In [9]:
pdf2 = df2.copy()
pdf2.columns = ['clean_text', 'result']

In [10]:
pdf1

,tweet_id,tweet_text,clean_text
0,1236411302895124487,"Sol com cara O projeto Inclusive, Praia! está ...",sol cara projeto inclusive praia volta proximo...
1,1236411378879037442,Hoje é dia de transmissão especial na Fla TV!!...,hoje dia transmissao especial fla amanha dia i...
2,1236411364643659776,"A presidenta nacional do PT, deputada @gleisi ...",presidenta nacional deputada faz chamamento mu...
3,1236411353444868096,Cartaz de minha enteada querida(linda e talent...,cartaz enteada querida linda talentosa dia int...
4,1236411366086508544,Dia Internacional da Mulher: o que os homens p...,dia internacional mulher homens podem fazer eq...
...,...,...,...
40319,1237071955255275520,Top 5 Cantoras Brasileiras com mais ouvintes m...,top cantoras brasileiras ouvintes mensais spot...
40320,1237071993389887489,8M a revolução das mulheres (em curso) não obs...,revolucao mulheres curso obstante decada meia ...
40321,1237072017867837441,Vagos https://t.co/Po9k7PkKra,vagos
40322,1237071955829968902,FOLHA DE SÃO PAULO: Festival GRLS! e outras 60...,folha paulo festival grls outras atracoes cele...
40323,1237071960930226177,a DUA em #2 LEEEEENDAA https://t.co/WAHiTC3Lq3,dua lendaa

In [11]:
pdf2

                                              clean_text result
0      sol cara projeto inclusive praia volta proximo...      0
1      hoje dia transmissao especial fla amanha dia i...      0
2      presidenta nacional deputada faz chamamento mu...      0
3      cartaz enteada querida linda talentosa dia int...      0
4      dia internacional mulher homens podem fazer eq...      0
...                                                  ...    ...
40323  preciso ter forca preciso ter raca preciso ter...      0
40324  feliz dia internacional mulher guerreiras natu...      0
40325  veja algumas fotos corrida mulher realizada ma...      0
40326  dia internacional mulher fica reflexao homem s...      0
40327  feliz dia internacional mulher familiares amig...      0

[40328 rows x 2 columns]

In [12]:
out_df = pd.merge(pdf1, pdf2, how="inner", on=['clean_text'])

In [13]:
out_df.head(10)

,tweet_id,tweet_text,clean_text,result
0,1236411302895124487,"Sol com cara O projeto Inclusive, Praia! está ...",sol cara projeto inclusive praia volta proximo...,0
1,1236411378879037442,Hoje é dia de transmissão especial na Fla TV!!...,hoje dia transmissao especial fla amanha dia i...,0
2,1236411364643659776,"A presidenta nacional do PT, deputada @gleisi ...",presidenta nacional deputada faz chamamento mu...,0
3,1236411353444868096,Cartaz de minha enteada querida(linda e talent...,cartaz enteada querida linda talentosa dia int...,0
4,1236411366086508544,Dia Internacional da Mulher: o que os homens p...,dia internacional mulher homens podem fazer eq...,0
5,1236411405894594562,"AMANHÃ É DIA 8/3, DIA INTERNACIONAL DA MULHER,...",amanha dia dia internacional mulher melhores h...,0
6,1236411412169338880,Playlist de Lady Gaga na Apple Music celebra o...,playlist lady gaga apple music celebra dia int...,0
7,1236411396495224834,A democracia e direitos também estão na pauta ...,democracia direitos pauta atos acontecerao pai...,0
8,1236411400026836997,"A Stella Artois acredita que, juntos, podemos ...",stella artois acredita juntos podemos fazer me...,0
9,1236411441403645952,"Um time militante da vontade né, rival? https:...",time militante vontade rival,0

In [14]:
out_df.shape

(40237, 4)

In [15]:
out_df.sample(n=381).to_csv('tweets_sentiments_pt.csv')