In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('cenario2_8M2020_tweets_en.csv',
                  usecols=['tweet_id', 'tweet_text', 'clean_text'])

/home/gean/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df1.shape

(400128, 3)

In [4]:
df1.head(3)

,tweet_id,tweet_text,clean_text
0,1236411302693801984,Essential reading for all of us working in dat...,essential reading working data intensive resea...
1,1236411304237285377,Women. Are. Amazing. At 7 months pregnant I st...,women amazing months pregnant still idea mothe...
2,1236411303364833280,This weekend is #IWD2020 and weâ€™ve got the @Wo...,weekend got show got music amp

In [5]:
df2 = pd.read_csv('sentiment_analysis_en.csv', usecols=['text', 'result'])

In [6]:
df2.shape

(400156, 2)

In [7]:
df2.head(3)

                                                text result
0  essential reading working data intensive resea...     -1
1  women amazing months pregnant still idea mothe...      1
2                     weekend got show got music amp      0

In [8]:
pdf1 = df1.copy()

In [9]:
pdf2 = df2.copy()
pdf2.columns = ['clean_text', 'result']

In [10]:
pdf1

,tweet_id,tweet_text,clean_text
0,1236411302693801984,Essential reading for all of us working in dat...,essential reading working data intensive resea...
1,1236411304237285377,Women. Are. Amazing. At 7 months pregnant I st...,women amazing months pregnant still idea mothe...
2,1236411303364833280,This weekend is #IWD2020 and weâ€™ve got the @Wo...,weekend got show got music amp
3,1236411301213147139,"Centre members Yvonne Hora, Boer Tan and Eliza...",centre members yvonne hora boer tan eliza rokh...
4,1236411302152634368,Happy International Women's Day ðŸ’œ #IWD2020\n\n...,happy international women day afl players disc...
...,...,...,...
400123,1237071960049438721,A pleasure to hear Germanyâ€™s Ambassador to Can...,pleasure hear germany ambassador canada excell...
400124,1237072024004157441,"""I told her, â€˜If you ever need someone to hang...",told ever need someone hang ever want call som...
400125,1237072031436476421,Sylvia Group has a long history of recognizing...,sylvia group long history recognizing strong t...
400126,1237071957587374082,Celebrated #InternationalWomensDay @HMP_Bronze...,celebrated watching production hairspray women...
400127,1237071946950590471,"Sunday, we celebrated International Women's Da...",sunday celebrated international women day tips...

In [11]:
pdf2

                                               clean_text result
0       essential reading working data intensive resea...     -1
1       women amazing months pregnant still idea mothe...      1
2                          weekend got show got music amp      0
3       centre members yvonne hora boer tan eliza rokh...      0
4       happy international women day afl players disc...      1
...                                                   ...    ...
400151  tagging better half brought joy ever thought p...      1
400152  principle fosters amp women empowerment ensure...      1
400153  happy international women day today celebrate ...      1
400154           want hear voice reading anne sexton sure      0
400155  ktnlife_style kasunje great courageous act mus...      1

[400156 rows x 2 columns]

In [12]:
out_df = pd.merge(pdf1, pdf2, how="inner", on=['clean_text'])

In [13]:
out_df.head(10)

,tweet_id,tweet_text,clean_text,result
0,1236411302693801984,Essential reading for all of us working in dat...,essential reading working data intensive resea...,-1
1,1236411304237285377,Women. Are. Amazing. At 7 months pregnant I st...,women amazing months pregnant still idea mothe...,1
2,1236411303364833280,This weekend is #IWD2020 and weâ€™ve got the @Wo...,weekend got show got music amp,0
3,1236411301213147139,"Centre members Yvonne Hora, Boer Tan and Eliza...",centre members yvonne hora boer tan eliza rokh...,0
4,1236411302152634368,Happy International Women's Day ðŸ’œ #IWD2020\n\n...,happy international women day afl players disc...,1
5,1236411300894425088,Here's to strong women.\nMay we know them.\nMa...,strong women may know may may raise happy inte...,1
6,1236411287564718080,Happy #IWD2020 to everyone marching and campai...,happy everyone marching campaigning inclusion ...,1
7,1236411303218032640,Today we celebrate the incredible women behind...,today celebrate incredible women behind custom...,1
8,1236411302358089729,Aurat March Inside Story\nKhalil ur Rehman and...,aurat march inside story khalil rehman marvi f...,0
9,1236411304690307078,Cheers to all the amazing ladies across Alaska...,cheers amazing ladies across alaska celebratin...,1

In [14]:
out_df.shape

(398983, 4)

In [15]:
out_df.sample(n=384).to_csv('tweets_sentiments_en.csv')