In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('exemplo.xlsx', usecols=['tweet_id','tweet_text','clean_text'])

In [3]:
df1.shape

(289815, 3)

In [4]:
df1.head(3)

,tweet_id,tweet_text,clean_text
0,1236411302286888963,Rumbo al #8M | Usuarios de redes sociales conv...,rumbo usuarios redes sociales convocaron paro ...
1,1236411306334273536,La USAC llegando al espacio una cátedra de gén...,usac llegando espacio catedra genero vez
2,1236411302504992771,Cuando Norma tenía 19 años fue vendida a un ba...,norma anos vendida bar japon trabajar hombres ...

In [5]:
df2 = pd.read_csv('sentiment_analysis_es.csv', usecols=['text', 'result'])

In [6]:
df2.shape

(289820, 2)

In [7]:
df2.head(3)

                                                text result
0  rumbo usuarios redes sociales convocaron paro ...      0
1           usac llegando espacio catedra genero vez      0
2  norma anos vendida bar japon trabajar hombres ...      0

In [8]:
pdf1 = df1.copy()

In [9]:
pdf2 = df2.copy()
pdf2.columns = ['clean_text', 'result']

In [10]:
pdf1

,tweet_id,tweet_text,clean_text
0,1236411302286888963,Rumbo al #8M | Usuarios de redes sociales conv...,rumbo usuarios redes sociales convocaron paro ...
1,1236411306334273536,La USAC llegando al espacio una cátedra de gén...,usac llegando espacio catedra genero vez
2,1236411302504992771,Cuando Norma tenía 19 años fue vendida a un ba...,norma anos vendida bar japon trabajar hombres ...
3,1236411301154500610,"""El Estado mexicano ha ignorado demasiados año...",mexicano ignorado demasiados anos demanda just...
4,1236411305638219776,❌NO PUEDEN\n❌NO PUEDEN\n❌NO PUEDEN\n\n❌ CLARO ...,pueden pueden pueden claro pueden vetan derech...
...,...,...,...
289810,1237072021219151873,#DiaInternacionalDeLaMujer\nAlexandria Ocasio-...,alexandria ocasio cortez cinco minutos saber c...
289811,1237071941800013824,Pero qué mierda les pasa??????? Enfermossss ht...,mierda pasa enfermos
289812,1237071957058879488,me da una impotencia que en mi colegio nunca s...,impotencia colegio nunca terminen organizar cosas
289813,1237072024788439041,"Y como se defiende a la patria, de ideas e ide...",defiende patria ideas ideologias creadas extra...
289814,1237072036641587200,UN VIOLADOR NO PUEDE REINTEGRARSE A LA SOCIEDA...,violador puede reintegrarse sociedad

In [11]:
pdf2

                                               clean_text result
0       rumbo usuarios redes sociales convocaron paro ...      0
1                usac llegando espacio catedra genero vez      0
2       norma anos vendida bar japon trabajar hombres ...      0
3       mexicano ignorado demasiados anos demanda just...      0
4       pueden pueden pueden claro pueden vetan derech...      0
...                                                   ...    ...
289815                         tampoco altas temperaturas      0
289816  tener espacio semanal hablar feminismo poca co...      0
289817       dia mujer america latina vive reivindicativo      0
289818  regla unica onvre opinar hoy tonto callado par...      0
289819  pregunte mujer mujer mosso esquadra gastan muc...      0

[289820 rows x 2 columns]

In [12]:
out_df = pd.merge(pdf1, pdf2, how="inner", on=['clean_text'])

In [13]:
out_df.head(10)

,tweet_id,tweet_text,clean_text,result
0,1236411302286888963,Rumbo al #8M | Usuarios de redes sociales conv...,rumbo usuarios redes sociales convocaron paro ...,0
1,1236411306334273536,La USAC llegando al espacio una cátedra de gén...,usac llegando espacio catedra genero vez,0
2,1236411302504992771,Cuando Norma tenía 19 años fue vendida a un ba...,norma anos vendida bar japon trabajar hombres ...,0
3,1236411301154500610,"""El Estado mexicano ha ignorado demasiados año...",mexicano ignorado demasiados anos demanda just...,0
4,1236411305638219776,❌NO PUEDEN\n❌NO PUEDEN\n❌NO PUEDEN\n\n❌ CLARO ...,pueden pueden pueden claro pueden vetan derech...,0
5,1236411302614097924,Si participas en las marchas con motivo del Dí...,participas marchas motivo dia internacional mu...,0
6,1236411311946436609,"@EugeniodOrs_ Está claro, cuentan con que el n...",claro cuentan numero casos crezca proximos dia...,0
7,1236411303301763073,#8M #Homenaje #VillaNueva\nHomenaje por el Día...,homenaje dia mujer palito sanchez animara agas...,0
8,1236411303188746241,#8M2020 ¡Les invitamos a la inauguración de es...,invitamos inauguracion muestra itinerante mana...,0
9,1236411303528292352,El 60 por ciento de la derechohabiencia son mu...,ciento derechohabiencia mujeres,0

In [14]:
out_df.shape

(289491, 4)

In [15]:
out_df.sample(n=381).to_csv('tweets_sentiments_es.csv')